@media  screen and (max-width:395px) {
body{
  padding:0 2rem 0 2rem;
}
nav{
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.nav_links ul{
  flex-direction: column;
  text-align: center;
  width: 100%;
  flex-basis: 100%;
}

.logo_container{
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-basis: 100%;
  text-align: center;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.nav_links ul a{
  background-color: hsl(240, 100%, 5%);
  color: white;
  display: block;
  padding: 0.5rem;
  border-bottom: 1px solid whitesmoke;
}

.nav_links{
   flex-basis: 100%;
   width: 100%;
}
.nav_links ul li{
  margin-right: 0;
}


.nav_links ul a:hover{
  background-color: orangered;
  color: hsl(240, 100%, 5%);
}

.section_1,.section_2{
  flex-direction: column;
}


.child_1_kid_2{
  flex-direction: column;
}

header{
  margin-bottom: 1.5rem;
}

.child_1_kid_2 h1{
  flex-basis: 100%;
  font-size: 40px;
}

.child_1_kid_2 p{
  flex-basis: 100%;
  justify-content: space-around;
}

.child_1_kid_2 p span{
  line-height: 1.5rem;
  margin-top: 0.4rem;
}

.child_1_kid_2 p button{
  width: 50%;
  margin-top: 0.4rem;
}

.section_2{
  gap: 1.5rem;
}

.info h3{
  font-size: 16px;
}

.info h4{
  font-size: 13px;
}

.info p{
  font-size: 11.5px;
}
}





@media screen and (max-width:575px){
  body{
  padding:0 2.5rem 0 2.5rem;
}
nav{
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.nav_links ul{
  flex-direction: column;
  text-align: center;
  width: 100%;
  flex-basis: 100%;
}

.logo_container{
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-basis: 100%;
  text-align: center;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

.nav_links ul a{
  background-color: hsl(240, 100%, 5%);
  color: white;
  display: block;
  padding: 0.5rem;
  border-bottom: 1px solid whitesmoke;
}

.nav_links{
   flex-basis: 100%;
   width: 100%;
}
.nav_links ul li{
  margin-right: 0;
}


.nav_links ul a:hover{
  background-color: orangered;
  color: hsl(240, 100%, 5%);
}

.section_1,.section_2{
  flex-direction: column;
}


.child_1_kid_2{
  flex-direction: column;
}

header{
  margin-bottom: 1.5rem;
}

.child_1_kid_2 h1{
  flex-basis: 100%;
  font-size: 40px;
}

.child_1_kid_2 p{
  flex-basis: 100%;
  justify-content: space-around;
}

.child_1_kid_2 p span{
  line-height: 1.5rem;
  margin-top: 0.4rem;
}

.child_1_kid_2 p button{
  width: 50%;
  margin-top: 0.4rem;
}

.section_2{
  gap: 1.5rem;
}

.info h3{
  font-size: 17px;
}

.info h4{
  font-size: 14px;
}

.info p{
  font-size: 12px;
}
}

@media screen and (min-width:575px) {
  .section_1_child_2 h3{
    font-size: 16px;
  }

  .section_1_child_2 h1{
    margin-bottom: 0;
  }

  .section_1_child_2 p{
    font-size: 12px;
  }

  .section_1_child_2 {
    padding: 0.7rem;
  }

  .section_1{
    gap: 0.5rem;
  }

  .child_1_kid_2{
    flex-direction: column;
  }

  .section_1_child_1{
    width: 90%;
  }

  .child_1_kid_2 h1{
    font-size: 30px;
  }

  .child_1_kid_1{
    height: 25vh;
    border: 1px solid gray;
  }

  .child_1_kid_1 img{
    object-fit: cover;
    height: 100%;
  }

  .child_1_kid_2 p button{
  width: 80%;
  margin-top: 0.7rem;
  }

  .section_2_child1,.section_2_child2,.section_2_child3{
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  }

  .info h3{
    text-align: center;
  }

  .info h4{
  text-align: center;
}

.info p{
  text-align: center;
}
}

@media screen and (min-width:860px){
  .section_2_child1,.section_2_child2,.section_2_child3{
  flex-direction: row;
  margin-top: 2rem;
  }

   .info h3{
    text-align: start;
  }

  .info h4{
  text-align:start;
}

.info p{
  text-align: start;
}

.child_1_kid_1{
    width: 100%;
    border: 1px solid gray;
  }

  .child_1_kid_2{
    flex-direction: row;
  }

  .child_1_kid_2 h1{
  font-size: 43px;
  margin-right: 1.5rem;
  }
}
